.projects_title {
  text-align: center;
  margin-bottom: 20px;
}
.projects_btn_wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.projects_contents {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects_list {
  margin: 20px;
  cursor: pointer;
}
.projects_list:hover {
  transform: scale(1.1);
}
.projects_list_img {
  border: 1px solid var(--color-white);
  width: 100%;
}
.projects_list_code {
  margin-top: 5px;
}
.projects_list_page:hover {
  color: var(--color-orange);
}
.projects_list_code:hover {
  color: var(--color-orange);
}
