.home_main {
  display: grid;
  width: 90vw;
  gap: 10px;
  justify-content: center;
  margin: auto;
}
.home_main .home_eachBox {
  background-color: var(--color-darkgray);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  font-size: 1.5rem;
}
.active {
  background-color: var(--color-orange);
}
.mainbox1 {
  grid-template-columns: 40% 25%;
  margin-bottom: 10px;
}
.mainbox2 {
  grid-template-columns: 25% 40%;
}
.home_aboutBox_contents {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.home_myName {
  color: var(--color-orange);
  font-weight: 600;
}
.home_frontend {
  font-size: 1rem;
}
